.myaccount_box
{
	/* background-color:rgba(255, 99, 99, 0.1); */
	background-color:rgb(250, 128, 114);
	
	
}
.plan_box
{
	/* background-color:rgba(255, 99, 99, 0.1); */
	background-color:rgb(250, 128, 114);
	
	
}

#myaccount_boxP{
    font-size: 22px;
    font-weight: 400;
    color:#fff;
	text-decoration:none;
}

.address-box
{
	border-style:dashed;
   height: 206px;
    width: 310px;
    border-width: 2px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.personal-address-box
{
	border-style:solid;
    border-width: 1px;
	padding:8px;
	 height: 206px;
    width: 310px;
	border-radius:5px;
    box-sizing: border-box;
    border-color: #C7C7C7;
    display: table-cell;
   box-shadow: 0 2px 1px 0 rgb(0 0 0 / 16%);
   color:#0F1111;
}

.personal-address-box .span
{
	color:#0F1111;
   
}


.address-box-title
{
	font-weight: 600;
    font-size: 20px;
    line-height: 30px;
	color:#565959!important;

}

.btnaddress
{
	background: #FFD814;
    border-color: #FCD200;
	font-size:15px;
}